* {
  margin: 0;
  padding: 0;
  color: #000;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
}
